<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ea89dd5152.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/vaults.css">
</head>
<body>
    <div id="nav-bar">
        <input id="nav-toggle" type="checkbox"/>
        <a id="nav-title" href="#"><div id="nav-header"><img src="../assets/icon/Logo.png" style="width: 50px; height: 50px;"></a>
          <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
          <hr/>
        </div>
        <div id="nav-content">
          <div class="nav-button"><a href="vaults.html"><i class="fas fa-vault"></i></i><span>My Vaults</span></a></div>
          <div class="nav-button"><a href="generator.html"><i class="fas fa-plus"></i><span>Generator</span></a></div>
          <hr/>
          <div class="nav-button"><a href="export.html"><i class="fas fa-upload"></i><span>Export Vault</span></a></div>
          <div class="nav-button"><a href="import.html"><i class="fas fa-download"></i><span>Import Vault</span></a></div>
          <hr/>
          <div class="nav-button"><a href="settings.html"><i class="fas fa-gear"></i><span>Settings</span></a></div>
          <div class="nav-button"><a href="login.html"><i class="fas fa-right-from-bracket"></i><span>Logout</span></div></a>
          <div id="nav-content-highlight"></div>
        </div>
        <input id="nav-footer-toggle" type="checkbox"/>
        <div id="nav-footer">
          <div id="nav-footer-heading">
            <div id="nav-footer-avatar"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCx-P-wWDkbH5PcEUCkqlmuY_JmJ2shgwk2w&s"/></div>
            <div id="nav-footer-titlebox"><a id="nav-footer-title" href="#">Tux</a><span id="nav-footer-subtitle">tux@proton.me</span></div>
            <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
          </div>
          <div id="nav-footer-content">
            <p><strong>Reused Passwords:</strong> 0</p>
            <p><strong>Insecure Sites:</strong> 0</p><br>
            <p>Your passwords are <strong>highly protected!</strong></p>
          </div>
        </div>
      </div>    
</body>
</html>