<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ea89dd5152.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/vaults.css">
</head>
<body>
    <div id="nav-bar">
        <input id="nav-toggle" type="checkbox"/>
        <a id="nav-title" href="#"><div id="nav-header"><img src="../assets/icon/Logo.svg" style="width: 50px; height: 50px;"></a>
          <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
          <hr/>
        </div>
        <div id="nav-content">
          <div class="nav-button"><a href="/"><i class="fas fa-vault"></i></i><span>My Vaults</span></a></div>
          <div class="nav-button"><a href="/generator"><i class="fas fa-plus"></i><span>Generator</span></a></div>
          <hr/>
          <div class="nav-button"><a href="/settings"><i class="fas fa-gear"></i><span>Settings</span></a></div>
          <div class="nav-button"><a href="/login"><i class="fas fa-right-from-bracket"></i><span>Logout</span></div></a>
          <div id="nav-content-highlight"></div>
        </div>
        <input id="nav-footer-toggle" type="checkbox"/>
        <div id="nav-footer">
          <div id="nav-footer-heading">
            <div id="nav-footer-avatar"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCx-P-wWDkbH5PcEUCkqlmuY_JmJ2shgwk2w&s"/></div>
            <div id="nav-footer-titlebox"><a id="nav-footer-title" href="#"></a><span id="nav-footer-subtitle"></span></div>
            <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
          </div>
          <div id="nav-footer-content">
            <p id="reused_passwords"></p>
            <p id="insecure_sites"><br>
            <p id="account_health"></p>
          </div>
        </div>
      </div> 
      
      <div id="main-content">
        <h1>Generator</h1>
        <button id="passwords_btn" class="edit_btn" style="margin-right: 2rem;"><i class="fas fa-lock"></i> Password</button>
        <button id="usernames_btn" class="edit_btn"><i class="fas fa-user"></i> Username</button>

        <div id="main-generate-password" style="margin-top: 5rem;">
            <h3 class="modal-section-title">Password</h3>
            <form id="generate_password_form">
              <div class="modal-field-group">
                <div class="modal-field">
                  <input id="generated_password" class="modal-data" disabled>
                </div>
                <button type="submit" class="modal_cpy_btn"><i class="fas fa-arrows-rotate"></i></button>
                <button type="button" class="modal_cpy_btn"><i class="fas fa-clone"></i></button>
              </div>

                <h3 class="modal-section-title">Options</h3>
                <div class="modal-field-group">
                  <div class="modal-field">
                    <label>Length</label>
                    <input name="length" class="modal-data">
                  </div>
                </div>

                <h3 class="modal-section-title">Include</h3>
                <div class="modal-field-group">
                    <div class="modal-field">
                      <label>Minimum numbers</label>
                      <input name="min" class="modal-data">
                    </div>
                </div>
                <div class="modal-field-group">
                  <div class="modal-field">
                      <label>Minimum special</label>
                      <input name="max" class="modal-data">
                  </div>
              </div>

                <div class="modal-field-group" style="margin-top: 2rem;">
                    <label>
                        <input name="uppercase" type="checkbox" class="input">
                        <span class="custom-checkbox"></span>
                        <span class="checkbox-text">A-Z</span>
                    </label>
                </div>
                <div class="modal-field-group" style="margin-top: 1rem;">
                  <label>
                      <input name="lowercase" type="checkbox" class="input">
                      <span class="custom-checkbox"></span>
                      <span class="checkbox-text">a-z</span>
                  </label>
              </div>
              <div class="modal-field-group" style="margin-top: 1rem;">
                  <label>
                      <input name="numbers" type="checkbox" class="input">
                      <span class="custom-checkbox"></span>
                      <span class="checkbox-text">0-9</span>
                  </label>
              </div>
            </form>
        </div>

        
        <div id="main-generate-username" style="margin-top: 5rem; display: none;">
          <h3 class="modal-section-title">Username</h3>
          <form id="generated_username_form">
            <div class="modal-field-group">
              <div class="modal-field">
                <input id="generated_username" class="modal-data" disabled>
              </div>
              <button type="submit" class="modal_cpy_btn"><i class="fas fa-arrows-rotate"></i></button>
              <button type="button" class="modal_cpy_btn"><i class="fas fa-clone"></i></button>
            </div>

            <h3 class="modal-section-title">Options</h3>
            <div class="modal-field-group" style="margin-top: 2rem;">
                <label>
                    <input name="uppercase" type="checkbox" class="input">
                    <span class="custom-checkbox"></span>
                    <span class="checkbox-text">Capitalize</span>
                </label>
            </div>
            <div class="modal-field-group" style="margin-top: 1rem;">
                <label>
                    <input name="numbers" type="checkbox" class="input">
                    <span class="custom-checkbox"></span>
                    <span class="checkbox-text">Include number</span>
                </label>
            </div>
          </form>
      </div>
      </div>
      
        <div class="progress-bar-container">
          <div id="progress_bar" class="progress-bar"></div>
        </div>
      </div>

      <div id="loader" class="loader-container hidden">
        <div class="loader">
          <div class="square" id="sq1"></div>
          <div class="square" id="sq2"></div>
          <div class="square" id="sq3"></div>
          <div class="square" id="sq4"></div>
          <div class="square" id="sq5"></div>
          <div class="square" id="sq6"></div>
          <div class="square" id="sq7"></div>
          <div class="square" id="sq8"></div>
          <div class="square" id="sq9"></div>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
            const navToggle = document.getElementById("nav-toggle");
            const mainContent = document.getElementById("main-content");


            const adjustMainContent = () => {
                if (navToggle.checked) {
                
                    mainContent.style.left = `calc(var(--navbar-width-min) + 2vw)`;
                    mainContent.style.transition = "left 0.3s ease"; 
                } else {
                
                    mainContent.style.left = `calc(var(--navbar-width) + 2vw)`;
                }
            };
        
        
            adjustMainContent();
        
        
            navToggle.addEventListener("change", adjustMainContent);
        });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const users_section = document.getElementById('main-generate-username');
                const passwords_section = document.getElementById('main-generate-password');
                const password_btn = document.getElementById('passwords_btn');
                const username_btn = document.getElementById('usernames_btn');

                password_btn.addEventListener('click', () => {
                  users_section.style.display = 'none';
                  passwords_section.style.removeProperty('display');
                });

                username_btn.addEventListener('click', () => {
                  passwords_section.style.display = 'none';
                  users_section.style.removeProperty('display');
                });
            })
        </script>

        <script src="../controllers/env.js"></script>
        <script type="module" src="../controllers/user_controllers.js"></script>
        <script type="module" src="../controllers/password_controllers.js"></script>
        <script src="../controllers/generator_controllers.js"></script>
</body>
</html>