<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ea89dd5152.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/vaults.css">

</head>
<body>
    <div id="nav-bar">
        <input id="nav-toggle" type="checkbox"/>
        <a id="nav-title" href="#"><div id="nav-header"><img src="../assets/icon/Logo.svg" style="width: 50px; height: 50px;"></a>
          <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
          <hr/>
        </div>
        <div id="nav-content">
          <div class="nav-button"><a href="/"><i class="fas fa-vault"></i></i><span>My Vaults</span></a></div>
          <div class="nav-button"><a href="/generator"><i class="fas fa-plus"></i><span>Generator</span></a></div>
          <hr/>
          <div class="nav-button"><a href="/settings"><i class="fas fa-gear"></i><span>Settings</span></a></div>
          <div class="nav-button"><a href="/login"><i class="fas fa-right-from-bracket"></i><span>Logout</span></div></a>
          <div id="nav-content-highlight"></div>
        </div>
        <input id="nav-footer-toggle" type="checkbox"/>
        <div id="nav-footer">
          <div id="nav-footer-heading">
            <div id="nav-footer-avatar"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCx-P-wWDkbH5PcEUCkqlmuY_JmJ2shgwk2w&s"/></div>
            <div id="nav-footer-titlebox"><a id="nav-footer-title" href="#"></a><span id="nav-footer-subtitle"></span></div>
            <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
          </div>
          <div id="nav-footer-content">
            <p id="reused_passwords"></p>
            <p id="insecure_sites"><br>
            <p id="account_health"></p>
          </div>
        </div>
      </div> 
      
      <div id="main-content">
        <div class="header-row" style="display: flex; justify-content: space-between;">
          <h1>Settings</h1>


          <div id="notification_icon" class="warning">
            <div class="warning__icon">
                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m13 14h-2v-5h2zm0 4h-2v-2h2zm-12 3h22l-11-19z" fill="#393a37"></path></svg>
            </div>
                <div id="warning_text" class="warning__title"></div>
            <div class="warning__close"><svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z" fill="#393a37"></path></svg></div>
          </div>
        </div>
        <button id="passwords_btn" class="edit_btn" style="margin-right: 2rem;"><i class="fas fa-lock"></i> My Account</button>
        <button id="usernames_btn" class="edit_btn"><i class="fas fa-shield"></i> Security</button>

        <div id="main-generate-password" style="margin-top: 5rem;">
          <form id="edit-user-info-form">
            <h3 class="modal-section-title">Username</h3>
            <div class="modal-field-group">
              <div id="nav-footer-avatar"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCx-P-wWDkbH5PcEUCkqlmuY_JmJ2shgwk2w&s"/></div>
              <div class="modal-field">
                <input name="username" id="modal-edit-username" class="modal-data">
              </div>
            </div>

            <h3 class="modal-section-title">Change Email</h3>
            <div class="modal-field-group">
              <div class="modal-field">
                <label>Master password</label>
                <input name="password" id="modal-edit-masterPassword" class="modal-data">
              </div>
            </div>
            <div class="modal-field-group" style="margin-top: 0.5rem;">
              <div class="modal-field">
                <label>New Email</label>
                <input name="email" id="modal-edit-email" class="modal-data">
              </div>
            </div>

            <h3 class="modal-section-title" style="color: red;">Danger Zone</h3>
            <button type="submit" class="edit_btn" style="margin-bottom: 1rem;"><i class="fas fa-pen"></i> Edit account</button>
            <div class="modal-field-group">
              <div class="modal-field">
                <button type="button" onclick="toggleModal('#delete_user_modal')" class="delete_btn"><i class="fas fa-trash"></i> Delete account</button>
              </div>
            </div>
          </form>
        </div>

        
        <div id="main-generate-username" style="margin-top: 5rem; display: none;">
          <form id="change-master-password-form">
            <h2>Change master password</h2>
              <div class="modal-field-group">
                <div class="modal-field">
                  <label>Current master password</label>
                  <input name="current_password" type="password" id="modal-mp-edit" class="modal-data">
                </div>
              </div>
              <div class="modal-field-group" style="margin-top: 0.5rem;">
                <div class="modal-field">
                  <label>New master password</label>
                  <input name="password" type="password" id="modal-mp-new" class="modal-data">
                </div>
              </div>
              <div class="modal-field-group" style="margin-top: 0.5rem;">
                <div class="modal-field">
                  <label>Confirm master password</label>
                  <input name="confirm_password" type="password" id="modal-mp-edit-confirm" class="modal-data">
                </div>
              </div>
              <h3 class="modal-section-title" style="color: red;">Danger Zone</h3>
              <div class="modal-field-group">
                <div class="modal-field">
                  <button type="submit" class="delete_btn"><i class="fas fa-triangle-exclamation"></i> Change master password</button>
                </div>
              </div>
          </form>
      </div>

      <div id="confirmation_modal" class="modal-overlay" style="display: none;">
        <div class="modal-content">
          <button class="modal-close">&times;</button>
      
          <div class="modal-header">
            <h2 class="modal-title">Save changes</h2>
          </div>
      
          <div class="modal-field">
            <p style="text-align: center;">Are you sure you want to save changes?</p>
          </div>
      
          <div class="modal-actions">
            <button class="edit_btn"><i class="fas fa-pen"></i> Save</button>
            <a href="/settings"><button class="cancel_btn"><i class="fas fa-x"></i> Cancel</button></a>
          </div> 
      </div>
      </div>

      <div id="delete_user_modal" class="modal-overlay" style="display: none;"> 
        <div class="modal-content">
          <button class="modal-close">&times;</button>
      
          <div class="modal-header">
            <h2 class="modal-title">Input master password</h2>
          </div>
      
          <form id="new_login_form">
            <div class="modal-field">
              <label>Master password</label>
              <input name="password" type="password" class="modal-data">
            </div>
          
            <div class="modal-actions">
              <a href="/settings"><button type="button" class="cancel_btn"><i class="fas fa-x"></i> Cancel</button></a>
              <button type="submit" class="delete_btn"><i class="fas fa-trash"></i> Delete</button>
            </div>
          </form>
        </div>
      </div>

      <div id="loader" class="loader-container hidden">
        <div class="loader">
          <div class="square" id="sq1"></div>
          <div class="square" id="sq2"></div>
          <div class="square" id="sq3"></div>
          <div class="square" id="sq4"></div>
          <div class="square" id="sq5"></div>
          <div class="square" id="sq6"></div>
          <div class="square" id="sq7"></div>
          <div class="square" id="sq8"></div>
          <div class="square" id="sq9"></div>
        </div>
      </div>

      <script>
        function toggleModal(modal_id) {
          const modal = document.querySelector(modal_id);
          modal.style.display = (modal.style.display === 'flex') ? 'none' : 'flex';
        }
      

        document.addEventListener('DOMContentLoaded', () => {
          const closeBtn = document.querySelector('.modal-close');
          closeBtn.addEventListener('click', () => {
            document.querySelector('.modal-overlay').style.display = 'none';
          });
        });
     </script>

     <script>
       document.addEventListener("DOMContentLoaded", () => {
       
         const editableFields = document.querySelectorAll(".modal-data-create[data-editable='true']");
       
         editableFields.forEach((field) => {
           field.addEventListener("click", () => {
           
             field.setAttribute("contenteditable", "true");
             field.focus(); 
           });
         
           field.addEventListener("blur", () => {
           
             field.setAttribute("contenteditable", "false");
           });
         
           field.addEventListener("keydown", (e) => {
           
             if (e.key === "Enter") {
              editableFields.forEach((field) => {
                console.log(field.innerText);
              })

               e.preventDefault(); 
               field.blur(); 
               toggleModal('#confirmation_modal');
             }
           });
         });
       });
     </script>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
            const navToggle = document.getElementById("nav-toggle");
            const mainContent = document.getElementById("main-content");


            const adjustMainContent = () => {
                if (navToggle.checked) {
                
                    mainContent.style.left = `calc(var(--navbar-width-min) + 2vw)`;
                    mainContent.style.transition = "left 0.3s ease"; 
                } else {
                
                    mainContent.style.left = `calc(var(--navbar-width) + 2vw)`;
                }
            };
        
        
            adjustMainContent();
        
        
            navToggle.addEventListener("change", adjustMainContent);
        });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const users_section = document.getElementById('main-generate-username');
                const passwords_section = document.getElementById('main-generate-password');
                const password_btn = document.getElementById('passwords_btn');
                const username_btn = document.getElementById('usernames_btn');
                const editableFields = document.querySelectorAll(".modal-data-create[data-editable='true']");

                password_btn.addEventListener('click', () => {
                  users_section.style.display = 'none';
                  passwords_section.style.removeProperty('display');
                });

                username_btn.addEventListener('click', () => {
                  passwords_section.style.display = 'none';
                  users_section.style.removeProperty('display');
                });
            })
        </script>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            const closeModalButtons = document.querySelectorAll(".modal-close");
            const modals = document.querySelectorAll(".modal-overlay");
          
            closeModalButtons.forEach((button) => {
              button.addEventListener("click", () => {
                const modal = button.closest(".modal-overlay");
                if (modal) {
                  modal.style.display = "none"; 
                }
              });
            });
          
            modals.forEach((modal) => {
              modal.addEventListener("click", (event) => {
                if (event.target === modal) {
                  modal.style.display = "none";
                }
              });
            });
          });
        </script>

        <script>
          document.querySelector('.warning__close').addEventListener('click', () => {
            const warning = document.getElementById('notification_icon');
            warning.style.display = 'none';
          });
        </script>

        <script src="../controllers/env.js"></script>
        <script type="module" src="../controllers/user_controllers.js"></script>
        <script type="module" src="../controllers/password_controllers.js"></script>
</body>
</html>